@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (prefers-color-scheme: light) {
    :root {
      --background: 0 0% 100%;
      --foreground: 0 0% 9%;
      --card: 0 0% 98%;
      --card-foreground: 0 0% 9%;
      --border: 0 0% 90%;
      --primary: 252.47 98.53% 62.03%;
      --primary-foreground: 0 0% 98%;
      --secondary: 0 0% 96%;
      --secondary-foreground: 0 0% 15%;
      --muted: 0 0% 96%;
      --muted-foreground: 240 3% 51%;
      --accent: 240 5% 96%;
      --accent-foreground: 0 0% 15%;
      --destructive: 0 74% 51%;
      --input: 0 0% 98%;
      --ring: 244 58% 51%;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: 0 0% 11%;
      --foreground: 0 0% 83%;
      --card: 0 0% 9%;
      --card-foreground: 0 0% 98%;
      --border: 0 0% 25%;
      --secondary: 0 0% 15%;
      --secondary-foreground: 0 0% 98%;
      --muted: 0 0% 15%;
      --muted-foreground: 0 0% 72%;
      --accent: 0 0% 14%;
      --accent-foreground: 0 0% 98%;
      --destructive: 0 91% 71%;
      --input: 0 0% 20%;
      --ring: 239 84% 67%;
    }
  }
}
